{# # This file is part of the YesWiki Extension alternativeupdatej9rem.
# Authors : see README.md file that was distributed with this source code.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. #}

{{ include(['tools/archive/templates/autoupdate/core.twig','tools/autoupdate/templates/core.twig']) }}
{% set locRev = core.localRelease|split('.') %}
{% set rev = core.release|split('.') %}
{% if core.requestedVersion == "doryphore" and (rev[0] > 5 or (rev[0] == 4 and rev[1] > 3  or (rev[1] == 3 and rev[2] > 1))) %}
    <div>
        <b>Attention : la version <code>doryphore {{ rev[0] }}.{{ rev[1] }}.{{ rev[2] }}</code> n'a pas encore été vérifiée par J9rem.
        <br>L'installer pourrait provoquer des erreurs. Veuillez attendre une mise à jour de l'extension <code>alternativeupdatej9rem</code>
        <br>et la disparition de ce message avant de faire la mise à jour de <code>YesWiki doryphore</code>.</b>
    </div>
{% endif %}