{# # This file is part of the YesWiki Extension alternativeupdatej9rem.
# Authors : see README.md file that was distributed with this source code.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. 
# Feature UUID : auj9-fix-edit-metadata
#}

{% set anchor = '<div class="tags-container"></div>' %}
{% set new = '' %}
{% if request.newpage is same as '1' and request.theme is not empty %}
  {% set new = '<input type="hidden" name="newpage" value="1"/>' %}
  {% for key in [
        'theme',
        'style',
        'squelette',
        'bgimg',
        'PageFooter',
        'PageHeader',
        'PageTitre',
        'PageRapideHaut',
        'PageMenuHaut',
        'PageMenu',
        'favorite_preset'
        ] %}
    {% if request[key] is not empty %}
        {% set new = new ~ "\n<input type=\"hidden\" name=\"#{key}\" value=\"#{request[key]}\"/>" %}
    {% endif %}
  {% endfor %}
{% endif %}
{{ include('templates/handlers/edit.twig')|replace({
    (anchor): new ~ anchor
})|raw }}