/*
 * This file is part of the YesWiki Extension alternativeupdatej9rem.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 * Feature UUID : auj9-recurrent-events
 */

div.form-control.for-selector-is-recurrent {
  height: auto;
  max-width: 100%;
}

div.form-control.for-selector-is-recurrent > .input-prepend.input-group{
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.form-group.input-listedatedeb .controls,
.form-group.input-listedatefin .controls,
.form-group.input-jour .controls {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1.5rem;
}
.control-group.input-listedatedeb .specific-for-recurrence,
.control-group.input-listedatefin .specific-for-recurrence
.control-group.input-jour .specific-for-recurrence {
    align-self: flex-start;
}
.control-group.input-listedatedeb .specific-for-recurrence span.add-on.input-group-addon,
.control-group.input-listedatefin .specific-for-recurrence span.add-on.input-group-addon,
.control-group.input-jour .specific-for-recurrence span.add-on.input-group-addon {
    width: auto;
    display: flex;
}

.form-group.input-listedatedeb .select-time,
.form-group.input-listedatefin .select-time,
.form-group.input-jour .select-time {
  margin-left: 0 !important;
}
@media (max-width: 600px) {
  .form-group.input-listedatedeb .select-time,
  .form-group.input-listedatefin .select-time,
  .form-group.input-jour .select-time {
    width: 100%;
    margin: 0 0 0 0;
  }
}

.input-recur-date .specific-for-recurrence {
  max-width: 100%;
}

.input-recur-date.control-group > .controls {
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}
.input-recur-date.control-group .for-selector-is-recurrent > .input-group {
  flex-wrap: wrap;
}
.input-recur-date.control-group .for-selector-is-recurrent > .input-group select.form-control {
  max-width: 80%;
  width: auto;
}

.input-recur-date:not(.ready) .specific-for-recurrence,
.input-recur-date:not(.ready) .event-container-for-datepicker {
  display: none !important;
}

.input-recur-date .event-container-for-datepicker{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.input-recur-date .event-container-for-datepicker .limit-date-hint {
  max-width: 250px;
}