/*
 * This file is part of the YesWiki Extension alternativeupdatej9rem.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

div.form-control.for-selector-is-recurrent {
    height: auto;
}

div.form-control.for-selector-is-recurrent > .input-prepend.input-group{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.control-group.input-listedatedeb > .controls,
.control-group.input-listedatefin > .controls,
.control-group.input-jour > .controls{
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
}
.control-group.input-listedatedeb .specific-for-recurrence,
.control-group.input-listedatefin .specific-for-recurrence
.control-group.input-jour .specific-for-recurrence {
    align-self: flex-start;
}
.control-group.input-listedatedeb .specific-for-recurrence span.add-on.input-group-addon,
.control-group.input-listedatefin .specific-for-recurrence span.add-on.input-group-addon,
.control-group.input-jour .specific-for-recurrence span.add-on.input-group-addon {
    width: auto;
    display: flex;
}

.form-group.input-listedatedeb .select-time,
.form-group.input-listedatefin .select-time,
.form-group.input-jour .select-time {
    margin-left: 0 !important;
}

@media (max-width: 600px) {
    .form-group.input-listedatedeb .select-time, 
    .form-group.input-listedatefin .select-time,
    .form-group.input-jour .select-time {
      margin: 0 0 0 0 !important;
    }
}