/*
 * This file is part of the YesWiki Extension alternativeupdatej9rem.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

div.form-control.for-selector-is-recurrent {
    height: auto;
}

div.form-control.for-selector-is-recurrent > .input-prepend.input-group{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.control-group.date > .controls {
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
}
.form-group.date .select-time {
    margin-left: 0 !important;
}

@media (max-width: 600px) {
    .form-group.date .select-time {
      margin: 0 0 0 0 !important;
    }
}