{# # This file is part of the YesWiki Extension alternativeupdatej9rem.
# Authors : see README.md file that was distributed with this source code.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. #}

{% extends "@bazar/layouts/field.twig" %}

{% block value_container %}
  {{ parent() }}
  {% if recurrenceBaseId is not empty %}
  <span class="BAZ_texte">
    <small><i>{{ _t('EVENT_IS_LINKED_TO_RECURRENT',{link:"<a class=\"newtab\" href=\"#{url({tag:recurrenceBaseId})}\">#{recurrenceBaseId}</a>"})|raw }}</i></small>
  </span>
  {% endif %}
{% endblock %}